Node_RED flow SmartLink SI B Contactor Inpulse relay (on master) and rearm (slave).txt
[{"id":"b6379d2b.cb51f","type":"modbus-read","z":"2bea37ab.587498","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14240","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"ece4498c.859ff8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":190,"y":140,"wires":[["b1a58591.50a5b8","64fbf6db.f4d968"],[]]},{"id":"b1a58591.50a5b8","type":"modbus-response","z":"2bea37ab.587498","name":"","registerShowMax":20,"x":471,"y":120,"wires":[]},{"id":"b8f29d7f.0819a","type":"comment","z":"2bea37ab.587498","name":"CHANNEL 2 STATUS","info":"","x":213,"y":80,"wires":[]},{"id":"64fbf6db.f4d968","type":"function","z":"2bea37ab.587498","name":"CHANNEL 1","func":"var variable0={payload: msg.payload[0]}\nreturn variable0;","outputs":1,"noerr":0,"x":413,"y":208,"wires":[["2136f9fb.5ec186","bb8357fc.e17108"]]},{"id":"2136f9fb.5ec186","type":"debug","z":"2bea37ab.587498","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":434,"y":342,"wires":[]},{"id":"bb8357fc.e17108","type":"function","z":"2bea37ab.587498","name":"INPUT","func":"var a=msg.payload;\nif (a==3)\n  msg.payload=1;\n  else\n    if (a==2)\n      msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":585,"y":209,"wires":[["3ad45341.888c0c","9046c222.92c5b"]]},{"id":"3ad45341.888c0c","type":"debug","z":"2bea37ab.587498","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":796,"y":169,"wires":[]},{"id":"9046c222.92c5b","type":"mqtt out","z":"2bea37ab.587498","name":"","topic":"/Nave1/tanque1/PLCM241/pump0","qos":"","retain":"","broker":"cf1301a7.2e29c","x":846,"y":232,"wires":[]},{"id":"5aea802.7d4b78","type":"modbus-write","z":"2bea37ab.587498","name":"","showStatusActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14441","quantity":"1","server":"ece4498c.859ff8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":440,"y":500,"wires":[["d6b44e91.4680a"],[]]},{"id":"c1937c1.a27388","type":"inject","z":"2bea37ab.587498","name":"1 OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":210,"y":480,"wires":[["5aea802.7d4b78"]]},{"id":"d6b44e91.4680a","type":"modbus-response","z":"2bea37ab.587498","name":"","registerShowMax":20,"x":710,"y":500,"wires":[]},{"id":"a883bde1.2f9f1","type":"inject","z":"2bea37ab.587498","name":"2 ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":210,"y":540,"wires":[["5aea802.7d4b78"]]},{"id":"9ad291b.fa1da7","type":"modbus-read","z":"2bea37ab.587498","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14440","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"ece4498c.859ff8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":250,"y":660,"wires":[["5ca67eaa.1770e","9f7c31b0.043e8"],[]]},{"id":"5ca67eaa.1770e","type":"modbus-response","z":"2bea37ab.587498","name":"","registerShowMax":20,"x":550,"y":620,"wires":[]},{"id":"9f7c31b0.043e8","type":"debug","z":"2bea37ab.587498","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":700,"wires":[]},{"id":"c0c9860c.769e58","type":"mqtt in","z":"2bea37ab.587498","name":"","topic":"/Nave1/tanque1/PLCM241/impulseON","qos":"2","datatype":"auto","broker":"69015cb5.2c8ac4","x":210,"y":420,"wires":[["e748c983.ab84b8","5aea802.7d4b78"]]},{"id":"e748c983.ab84b8","type":"debug","z":"2bea37ab.587498","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":400,"wires":[]},{"id":"df60385a.30ed38","type":"modbus-write","z":"2bea37ab.587498","name":"","showStatusActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14321","quantity":"1","server":"ece4498c.859ff8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":460,"y":820,"wires":[["6f15118.91e12f"],[]]},{"id":"40af1e62.4c11f","type":"comment","z":"2bea37ab.587498","name":"CHANNEL 7 IMPULSE","info":"","x":170,"y":360,"wires":[]},{"id":"6def23c5.08a1dc","type":"comment","z":"2bea37ab.587498","name":"CHANNEL 4 STATUS","info":"","x":170,"y":620,"wires":[]},{"id":"6f15118.91e12f","type":"modbus-response","z":"2bea37ab.587498","name":"","registerShowMax":20,"x":720,"y":820,"wires":[]},{"id":"16e06a06.e9ed36","type":"inject","z":"2bea37ab.587498","name":"1 OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":800,"wires":[["df60385a.30ed38"]]},{"id":"9e76f737.711af8","type":"inject","z":"2bea37ab.587498","name":"2 ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":110,"y":860,"wires":[["df60385a.30ed38"]]},{"id":"bc43b607.1e3df8","type":"mqtt in","z":"2bea37ab.587498","name":"","topic":"/Nave1/tanque1/PLCM241/contactorON","qos":"2","datatype":"auto","broker":"69015cb5.2c8ac4","x":240,"y":940,"wires":[["c099bd2a.816eb","df60385a.30ed38"]]},{"id":"eea8546d.8860c8","type":"comment","z":"2bea37ab.587498","name":"CHANNEL 4 CONTACTOR","info":"","x":200,"y":760,"wires":[]},{"id":"c099bd2a.816eb","type":"debug","z":"2bea37ab.587498","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":940,"wires":[]},{"id":"ba0f4e70.3069a","type":"modbus-read","z":"2bea37ab.587498","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14200","quantity":"1","rate":"3","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"ece4498c.859ff8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":180,"y":1160,"wires":[["c1c487.39393b78","7112c080.18b65"],[]]},{"id":"57397bb7.e374d4","type":"comment","z":"2bea37ab.587498","name":" STATUS SLAVE MODBUS on address 1 CHANNEL 1","info":"","x":260,"y":1040,"wires":[]},{"id":"c1c487.39393b78","type":"modbus-response","z":"2bea37ab.587498","name":"","registerShowMax":20,"x":510,"y":1080,"wires":[]},{"id":"7112c080.18b65","type":"debug","z":"2bea37ab.587498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1160,"wires":[]},{"id":"3587b92c.67bb46","type":"inject","z":"2bea37ab.587498","name":"1 OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":160,"y":1260,"wires":[["d5966b8a.6d4de8"]]},{"id":"ffe82131.f8fc","type":"inject","z":"2bea37ab.587498","name":"2 ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":170,"y":1300,"wires":[["d5966b8a.6d4de8"]]},{"id":"d5966b8a.6d4de8","type":"modbus-write","z":"2bea37ab.587498","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14201","quantity":"1","server":"ece4498c.859ff8","emptyMsgOnFail":false,"keepMsgProperties":false,"x":450,"y":1280,"wires":[["d0ec1c27.ec5d1"],[]]},{"id":"d0ec1c27.ec5d1","type":"modbus-response","z":"2bea37ab.587498","name":"","registerShowMax":20,"x":740,"y":1260,"wires":[]},{"id":"464dd8cc.96ef58","type":"mqtt in","z":"2bea37ab.587498","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"69015cb5.2c8ac4","x":300,"y":1400,"wires":[["d5966b8a.6d4de8"]]},{"id":"de60f38b.a3814","type":"comment","z":"2bea37ab.587498","name":"REARM SLAVE MODBUS on address 1 CHANNEL 1","info":"","x":240,"y":1220,"wires":[]},{"id":"ece4498c.859ff8","type":"modbus-client","z":"2bea37ab.587498","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.230","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"255","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false},{"id":"cf1301a7.2e29c","type":"mqtt-broker","z":"2bea37ab.587498","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"69015cb5.2c8ac4","type":"mqtt-broker","z":"2bea37ab.587498","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]