node-red-flow-smartlink-master-slave-cabinets-6-channels.txt
[{"id":"bf222a35.b30db8","type":"inject","z":"2b0128b2.487008","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1340,"wires":[["cc928176.45866"]]},{"id":"c8b99cce.b7989","type":"inject","z":"2b0128b2.487008","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1380,"wires":[["cc928176.45866"]]},{"id":"cc928176.45866","type":"modbus-write","z":"2b0128b2.487008","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14201","quantity":"1","server":"d9a59dc.c023f6","x":520,"y":1320,"wires":[["addc4d54.40c94"],[]]},{"id":"addc4d54.40c94","type":"modbus-response","z":"2b0128b2.487008","name":"","registerShowMax":20,"x":760,"y":1300,"wires":[]},{"id":"81da01c1.a820d","type":"mqtt in","z":"2b0128b2.487008","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":210,"y":1300,"wires":[["cc928176.45866"]]},{"id":"aa1c9c33.7b0ca","type":"light-scheduler","z":"2b0128b2.487008","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":380,"y":1440,"wires":[["d4944345.c1ccf","cc928176.45866"]]},{"id":"8527e99b.4a7908","type":"inject","z":"2b0128b2.487008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1440,"wires":[["aa1c9c33.7b0ca"]]},{"id":"d4944345.c1ccf","type":"debug","z":"2b0128b2.487008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":1440,"wires":[]},{"id":"7e85e54.76ed71c","type":"inject","z":"2b0128b2.487008","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1660,"wires":[["bab0bd62.ecacc"]]},{"id":"c0b4804.03ffd8","type":"inject","z":"2b0128b2.487008","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1700,"wires":[["bab0bd62.ecacc"]]},{"id":"bab0bd62.ecacc","type":"modbus-write","z":"2b0128b2.487008","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14241","quantity":"1","server":"d9a59dc.c023f6","x":520,"y":1620,"wires":[["982f565d.91c138"],[]]},{"id":"982f565d.91c138","type":"modbus-response","z":"2b0128b2.487008","name":"","registerShowMax":20,"x":760,"y":1600,"wires":[]},{"id":"e4a8938c.8a2b2","type":"mqtt in","z":"2b0128b2.487008","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":210,"y":1600,"wires":[["bab0bd62.ecacc"]]},{"id":"296a92ac.b1676e","type":"comment","z":"2b0128b2.487008","name":"ESCLAU PRINCIPAL CANAL 2 (Rele 8)","info":"","x":190,"y":1500,"wires":[]},{"id":"f7974674.b2ac28","type":"light-scheduler","z":"2b0128b2.487008","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":380,"y":1740,"wires":[["b017eb6c.bad038","bab0bd62.ecacc"]]},{"id":"a29c3cf9.20728","type":"inject","z":"2b0128b2.487008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1740,"wires":[["f7974674.b2ac28"]]},{"id":"b017eb6c.bad038","type":"debug","z":"2b0128b2.487008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":1740,"wires":[]},{"id":"7728a98f.5c5738","type":"comment","z":"2b0128b2.487008","name":"ENLLUMENAT EXPOSICIO 8 PLANTA 1","info":"","x":200,"y":1540,"wires":[]},{"id":"6e6a05b0.d30d5c","type":"inject","z":"2b0128b2.487008","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1980,"wires":[["6976aa7f.9f3494"]]},{"id":"bf70431a.ef6ab","type":"inject","z":"2b0128b2.487008","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2020,"wires":[["6976aa7f.9f3494"]]},{"id":"6976aa7f.9f3494","type":"modbus-write","z":"2b0128b2.487008","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14281","quantity":"1","server":"d9a59dc.c023f6","x":520,"y":1940,"wires":[["b409f0c4.6adb8"],[]]},{"id":"b409f0c4.6adb8","type":"modbus-response","z":"2b0128b2.487008","name":"","registerShowMax":20,"x":760,"y":1920,"wires":[]},{"id":"7b13274d.5d1398","type":"mqtt in","z":"2b0128b2.487008","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":210,"y":1920,"wires":[["6976aa7f.9f3494"]]},{"id":"33c3f3fa.7ec3cc","type":"comment","z":"2b0128b2.487008","name":"ESCLAU PRINCIPAL CANAL 3 (Rele 9)","info":"","x":190,"y":1820,"wires":[]},{"id":"60232a52.8791d4","type":"light-scheduler","z":"2b0128b2.487008","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":380,"y":2060,"wires":[["7be910f2.5be5a","6976aa7f.9f3494"]]},{"id":"6321dc62.1f3664","type":"inject","z":"2b0128b2.487008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":2060,"wires":[["60232a52.8791d4"]]},{"id":"7be910f2.5be5a","type":"debug","z":"2b0128b2.487008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":2060,"wires":[]},{"id":"8795933f.33121","type":"comment","z":"2b0128b2.487008","name":"ENLLUMENAT EXPOSICIO 9 PLANTA 1","info":"","x":200,"y":1860,"wires":[]},{"id":"62f8999b.ebb808","type":"inject","z":"2b0128b2.487008","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2300,"wires":[["3959be35.c51de2"]]},{"id":"41de0dfe.0558d4","type":"inject","z":"2b0128b2.487008","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2340,"wires":[["3959be35.c51de2"]]},{"id":"3959be35.c51de2","type":"modbus-write","z":"2b0128b2.487008","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14321","quantity":"1","server":"d9a59dc.c023f6","x":520,"y":2260,"wires":[["22cd686c.122d58"],[]]},{"id":"22cd686c.122d58","type":"modbus-response","z":"2b0128b2.487008","name":"","registerShowMax":20,"x":760,"y":2240,"wires":[]},{"id":"1eadb5ec.24edaa","type":"mqtt in","z":"2b0128b2.487008","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":210,"y":2240,"wires":[["3959be35.c51de2"]]},{"id":"26f06835.fa6698","type":"comment","z":"2b0128b2.487008","name":"ESCLAU PRINCIPAL CANAL 4 (Rele 10)","info":"","x":200,"y":2140,"wires":[]},{"id":"7a609485.004a5c","type":"light-scheduler","z":"2b0128b2.487008","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":380,"y":2380,"wires":[["940cfc08.1abb6","3959be35.c51de2"]]},{"id":"edbb4762.696fb8","type":"inject","z":"2b0128b2.487008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":2380,"wires":[["7a609485.004a5c"]]},{"id":"940cfc08.1abb6","type":"debug","z":"2b0128b2.487008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":2380,"wires":[]},{"id":"ca1dcf67.8a742","type":"comment","z":"2b0128b2.487008","name":"ENLLUMENAT EXPOSICIO 10 PLANTA 1","info":"","x":200,"y":2180,"wires":[]},{"id":"11ea5d43.057663","type":"inject","z":"2b0128b2.487008","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2600,"wires":[["971bc156.77838"]]},{"id":"2df6cdb6.1dbf02","type":"inject","z":"2b0128b2.487008","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2640,"wires":[["971bc156.77838"]]},{"id":"971bc156.77838","type":"modbus-write","z":"2b0128b2.487008","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14361","quantity":"1","server":"d9a59dc.c023f6","x":520,"y":2560,"wires":[["d4ab50dc.b7578"],[]]},{"id":"d4ab50dc.b7578","type":"modbus-response","z":"2b0128b2.487008","name":"","registerShowMax":20,"x":760,"y":2540,"wires":[]},{"id":"e7e8cd48.c9118","type":"mqtt in","z":"2b0128b2.487008","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":210,"y":2540,"wires":[["971bc156.77838"]]},{"id":"40a0a2e8.85ad2c","type":"comment","z":"2b0128b2.487008","name":"ESCLAU PRINCIPAL CANAL 5 (Rele 11)","info":"","x":200,"y":2440,"wires":[]},{"id":"87b2ff0a.d328d","type":"light-scheduler","z":"2b0128b2.487008","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":380,"y":2680,"wires":[["1d861659.926bda","971bc156.77838"]]},{"id":"b663096d.19d678","type":"inject","z":"2b0128b2.487008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":2680,"wires":[["87b2ff0a.d328d"]]},{"id":"1d861659.926bda","type":"debug","z":"2b0128b2.487008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":2680,"wires":[]},{"id":"85531c5d.e75a1","type":"comment","z":"2b0128b2.487008","name":"ENLLUMENAT EXPOSICIO 11 PLANTA 1","info":"","x":200,"y":2480,"wires":[]},{"id":"e48b074c.117b98","type":"inject","z":"2b0128b2.487008","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2900,"wires":[["1fe3a145.91881f"]]},{"id":"59304d27.227cb4","type":"inject","z":"2b0128b2.487008","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":2940,"wires":[["1fe3a145.91881f"]]},{"id":"1fe3a145.91881f","type":"modbus-write","z":"2b0128b2.487008","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14401","quantity":"1","server":"d9a59dc.c023f6","x":520,"y":2860,"wires":[["fdef5b76.7b3998"],[]]},{"id":"fdef5b76.7b3998","type":"modbus-response","z":"2b0128b2.487008","name":"","registerShowMax":20,"x":760,"y":2840,"wires":[]},{"id":"62790301.88970c","type":"mqtt in","z":"2b0128b2.487008","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":210,"y":2840,"wires":[["1fe3a145.91881f"]]},{"id":"e536c2f5.5c73e","type":"comment","z":"2b0128b2.487008","name":"ESCLAU PRINCIPAL CANAL 6 (Rele 12)","info":"","x":200,"y":2740,"wires":[]},{"id":"54e2dda8.05dcb4","type":"light-scheduler","z":"2b0128b2.487008","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":380,"y":2980,"wires":[["3a0e609.dc6a3a","1fe3a145.91881f"]]},{"id":"53323dc6.79c294","type":"inject","z":"2b0128b2.487008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":2980,"wires":[["54e2dda8.05dcb4"]]},{"id":"3a0e609.dc6a3a","type":"debug","z":"2b0128b2.487008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":2980,"wires":[]},{"id":"9ae13195.4ca2f","type":"comment","z":"2b0128b2.487008","name":"ENLLUMENAT EXPOSICIO 12 PLANTA 1","info":"","x":200,"y":2780,"wires":[]},{"id":"d9a59dc.c023f6","type":"modbus-client","z":"2b0128b2.487008","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.14","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"255","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"2569b67e.97013a","type":"mqtt-broker","z":"2b0128b2.487008","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]