node-red-flow-smartlink-mestre-armari-principal-30-10-2020.txt
[{"id":"b309b2ec.d11cc","type":"inject","z":"bcac1d85.9c383","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["49a5c4d3.afdcac"]]},{"id":"93d0a74a.9f2a08","type":"inject","z":"bcac1d85.9c383","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["49a5c4d3.afdcac"]]},{"id":"49a5c4d3.afdcac","type":"modbus-write","z":"bcac1d85.9c383","name":"","showStatusActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14201","quantity":"1","server":"56186378.66e65c","x":540,"y":180,"wires":[["fa7ee640.1d52f8"],[]]},{"id":"fa7ee640.1d52f8","type":"modbus-response","z":"bcac1d85.9c383","name":"","registerShowMax":20,"x":780,"y":160,"wires":[]},{"id":"a8b0de37.2e9a","type":"mqtt in","z":"bcac1d85.9c383","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":230,"y":160,"wires":[["49a5c4d3.afdcac"]]},{"id":"93438983.87ede8","type":"comment","z":"bcac1d85.9c383","name":"MESTRE CANAL 1 (Rele 0)","info":"","x":180,"y":60,"wires":[]},{"id":"67599cb9.ee5404","type":"light-scheduler","z":"bcac1d85.9c383","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":400,"y":300,"wires":[["f5ef49b6.1ec6d8","49a5c4d3.afdcac"]]},{"id":"f5ef49b6.1ec6d8","type":"debug","z":"bcac1d85.9c383","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":300,"wires":[]},{"id":"d7f8bcd7.7e6b5","type":"comment","z":"bcac1d85.9c383","name":"ENCESA RETOLS PLANTA 1 I PLANTA 2","info":"","x":220,"y":100,"wires":[]},{"id":"374ac779.104748","type":"inject","z":"bcac1d85.9c383","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":520,"wires":[["8ab1676e.1058d8"]]},{"id":"b363b09.eefa55","type":"inject","z":"bcac1d85.9c383","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":560,"wires":[["8ab1676e.1058d8"]]},{"id":"8ab1676e.1058d8","type":"modbus-write","z":"bcac1d85.9c383","name":"","showStatusActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14241","quantity":"1","server":"56186378.66e65c","x":540,"y":480,"wires":[["89df8c11.27419"],[]]},{"id":"89df8c11.27419","type":"modbus-response","z":"bcac1d85.9c383","name":"","registerShowMax":20,"x":780,"y":460,"wires":[]},{"id":"69d234d6.0fea3c","type":"mqtt in","z":"bcac1d85.9c383","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":230,"y":460,"wires":[["8ab1676e.1058d8"]]},{"id":"be2876bc.8d5448","type":"comment","z":"bcac1d85.9c383","name":"MESTRE CANAL 2 (Rele 1)","info":"","x":180,"y":360,"wires":[]},{"id":"3849a9e0.2eb716","type":"light-scheduler","z":"bcac1d85.9c383","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":400,"y":600,"wires":[["b9f23414.c415e8","8ab1676e.1058d8"]]},{"id":"b9f23414.c415e8","type":"debug","z":"bcac1d85.9c383","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":600,"wires":[]},{"id":"80f07565.8c4078","type":"comment","z":"bcac1d85.9c383","name":"ENLLUMENAT EXPOSICIO 1 PLANTA 1","info":"","x":220,"y":400,"wires":[]},{"id":"1bfd7ef.83a5881","type":"inject","z":"bcac1d85.9c383","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":860,"wires":[["e4fc522e.2737d"]]},{"id":"f245e611.98f1a8","type":"inject","z":"bcac1d85.9c383","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":900,"wires":[["e4fc522e.2737d"]]},{"id":"e4fc522e.2737d","type":"modbus-write","z":"bcac1d85.9c383","name":"","showStatusActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14281","quantity":"1","server":"56186378.66e65c","x":540,"y":820,"wires":[["3b1e225c.141bde"],[]]},{"id":"3b1e225c.141bde","type":"modbus-response","z":"bcac1d85.9c383","name":"","registerShowMax":20,"x":780,"y":800,"wires":[]},{"id":"e6b4fe72.c70ef","type":"mqtt in","z":"bcac1d85.9c383","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":230,"y":800,"wires":[["e4fc522e.2737d"]]},{"id":"8658a0b8.5dcc4","type":"comment","z":"bcac1d85.9c383","name":"MESTRE CANAL 3 (Rele 2)","info":"","x":180,"y":700,"wires":[]},{"id":"ba9cadb5.26e99","type":"light-scheduler","z":"bcac1d85.9c383","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":400,"y":940,"wires":[["4b6459de.32e128","e4fc522e.2737d"]]},{"id":"4b6459de.32e128","type":"debug","z":"bcac1d85.9c383","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":940,"wires":[]},{"id":"c803af38.78ad9","type":"comment","z":"bcac1d85.9c383","name":"ENLLUMENAT EXPOSICIO 2 PLANTA 1","info":"","x":220,"y":740,"wires":[]},{"id":"87a8df90.c0f0b","type":"inject","z":"bcac1d85.9c383","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1180,"wires":[["1212f8f2.ea6bd7"]]},{"id":"ed442d46.585d5","type":"inject","z":"bcac1d85.9c383","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1220,"wires":[["1212f8f2.ea6bd7"]]},{"id":"1212f8f2.ea6bd7","type":"modbus-write","z":"bcac1d85.9c383","name":"","showStatusActivities":false,"showErrors":false,"unitid":"255","dataType":"HoldingRegister","adr":"14321","quantity":"1","server":"56186378.66e65c","x":540,"y":1140,"wires":[["a40a9cb7.1462b"],[]]},{"id":"a40a9cb7.1462b","type":"modbus-response","z":"bcac1d85.9c383","name":"","registerShowMax":20,"x":780,"y":1120,"wires":[]},{"id":"65767da7.770f04","type":"mqtt in","z":"bcac1d85.9c383","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":230,"y":1120,"wires":[[]]},{"id":"1ab2d7b8.81f928","type":"comment","z":"bcac1d85.9c383","name":"MESTRE CANAL 3 (Rele 2)","info":"","x":180,"y":1020,"wires":[]},{"id":"2892e6af.8453ca","type":"light-scheduler","z":"bcac1d85.9c383","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":400,"y":1260,"wires":[["94a3114d.71cf8"]]},{"id":"94a3114d.71cf8","type":"debug","z":"bcac1d85.9c383","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":1260,"wires":[]},{"id":"879b7677.ce23d8","type":"comment","z":"bcac1d85.9c383","name":"ENLLUMENAT EXPOSICIO 2 PLANTA 1","info":"","x":220,"y":1060,"wires":[]},{"id":"56186378.66e65c","type":"modbus-client","z":"bcac1d85.9c383","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.14","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"2569b67e.97013a","type":"mqtt-broker","z":"2b0128b2.487008","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]