node-red-flow-smartlink-esclau-armari-principal-30-10-2020.txt
[{"id":"bf222a35.b30db8","type":"inject","z":"2b0128b2.487008","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":240,"wires":[["cc928176.45866"]]},{"id":"c8b99cce.b7989","type":"inject","z":"2b0128b2.487008","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":280,"wires":[["cc928176.45866"]]},{"id":"cc928176.45866","type":"modbus-write","z":"2b0128b2.487008","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14201","quantity":"1","server":"d9a59dc.c023f6","x":560,"y":220,"wires":[["addc4d54.40c94"],[]]},{"id":"addc4d54.40c94","type":"modbus-response","z":"2b0128b2.487008","name":"","registerShowMax":20,"x":800,"y":200,"wires":[]},{"id":"81da01c1.a820d","type":"mqtt in","z":"2b0128b2.487008","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":250,"y":200,"wires":[["cc928176.45866"]]},{"id":"89cf994c.09b858","type":"comment","z":"2b0128b2.487008","name":"ESCLAU PRINCIPAL CANAL 1 (Rele 7)","info":"","x":230,"y":80,"wires":[]},{"id":"aa1c9c33.7b0ca","type":"light-scheduler","z":"2b0128b2.487008","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":420,"y":340,"wires":[["d4944345.c1ccf","cc928176.45866"]]},{"id":"d4944345.c1ccf","type":"debug","z":"2b0128b2.487008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":340,"wires":[]},{"id":"7e85e54.76ed71c","type":"inject","z":"2b0128b2.487008","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":560,"wires":[["bab0bd62.ecacc"]]},{"id":"c0b4804.03ffd8","type":"inject","z":"2b0128b2.487008","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":600,"wires":[["bab0bd62.ecacc"]]},{"id":"bab0bd62.ecacc","type":"modbus-write","z":"2b0128b2.487008","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14241","quantity":"1","server":"d9a59dc.c023f6","x":560,"y":520,"wires":[["982f565d.91c138"],[]]},{"id":"982f565d.91c138","type":"modbus-response","z":"2b0128b2.487008","name":"","registerShowMax":20,"x":800,"y":500,"wires":[]},{"id":"e4a8938c.8a2b2","type":"mqtt in","z":"2b0128b2.487008","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":250,"y":500,"wires":[["bab0bd62.ecacc"]]},{"id":"296a92ac.b1676e","type":"comment","z":"2b0128b2.487008","name":"ESCLAU PRINCIPAL CANAL 2 (Rele 8)","info":"","x":230,"y":400,"wires":[]},{"id":"f7974674.b2ac28","type":"light-scheduler","z":"2b0128b2.487008","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":420,"y":640,"wires":[["b017eb6c.bad038","bab0bd62.ecacc"]]},{"id":"b017eb6c.bad038","type":"debug","z":"2b0128b2.487008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":640,"wires":[]},{"id":"d415baba.168688","type":"comment","z":"2b0128b2.487008","name":"ENLLUMENAT EXPOSICIO 7 PLANTA 1","info":"","x":240,"y":120,"wires":[]},{"id":"7728a98f.5c5738","type":"comment","z":"2b0128b2.487008","name":"ENLLUMENAT EXPOSICIO 8 PLANTA 1","info":"","x":240,"y":440,"wires":[]},{"id":"6e6a05b0.d30d5c","type":"inject","z":"2b0128b2.487008","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":880,"wires":[["6976aa7f.9f3494"]]},{"id":"bf70431a.ef6ab","type":"inject","z":"2b0128b2.487008","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":920,"wires":[["6976aa7f.9f3494"]]},{"id":"6976aa7f.9f3494","type":"modbus-write","z":"2b0128b2.487008","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14281","quantity":"1","server":"d9a59dc.c023f6","x":560,"y":840,"wires":[["b409f0c4.6adb8"],[]]},{"id":"b409f0c4.6adb8","type":"modbus-response","z":"2b0128b2.487008","name":"","registerShowMax":20,"x":800,"y":820,"wires":[]},{"id":"7b13274d.5d1398","type":"mqtt in","z":"2b0128b2.487008","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":250,"y":820,"wires":[["6976aa7f.9f3494"]]},{"id":"33c3f3fa.7ec3cc","type":"comment","z":"2b0128b2.487008","name":"ESCLAU PRINCIPAL CANAL 3 (Rele 9)","info":"","x":230,"y":720,"wires":[]},{"id":"60232a52.8791d4","type":"light-scheduler","z":"2b0128b2.487008","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":420,"y":960,"wires":[["7be910f2.5be5a","6976aa7f.9f3494"]]},{"id":"7be910f2.5be5a","type":"debug","z":"2b0128b2.487008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":960,"wires":[]},{"id":"8795933f.33121","type":"comment","z":"2b0128b2.487008","name":"ENLLUMENAT EXPOSICIO 9 PLANTA 1","info":"","x":240,"y":760,"wires":[]},{"id":"62f8999b.ebb808","type":"inject","z":"2b0128b2.487008","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1200,"wires":[["3959be35.c51de2"]]},{"id":"41de0dfe.0558d4","type":"inject","z":"2b0128b2.487008","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1240,"wires":[["3959be35.c51de2"]]},{"id":"3959be35.c51de2","type":"modbus-write","z":"2b0128b2.487008","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14321","quantity":"1","server":"d9a59dc.c023f6","x":560,"y":1160,"wires":[["22cd686c.122d58"],[]]},{"id":"22cd686c.122d58","type":"modbus-response","z":"2b0128b2.487008","name":"","registerShowMax":20,"x":800,"y":1140,"wires":[]},{"id":"1eadb5ec.24edaa","type":"mqtt in","z":"2b0128b2.487008","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":250,"y":1140,"wires":[["3959be35.c51de2"]]},{"id":"26f06835.fa6698","type":"comment","z":"2b0128b2.487008","name":"ESCLAU PRINCIPAL CANAL 4 (Rele 10)","info":"","x":240,"y":1040,"wires":[]},{"id":"7a609485.004a5c","type":"light-scheduler","z":"2b0128b2.487008","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":420,"y":1280,"wires":[["940cfc08.1abb6","3959be35.c51de2"]]},{"id":"940cfc08.1abb6","type":"debug","z":"2b0128b2.487008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":1280,"wires":[]},{"id":"ca1dcf67.8a742","type":"comment","z":"2b0128b2.487008","name":"ENLLUMENAT EXPOSICIO 10 PLANTA 1","info":"","x":240,"y":1080,"wires":[]},{"id":"11ea5d43.057663","type":"inject","z":"2b0128b2.487008","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1500,"wires":[["971bc156.77838"]]},{"id":"2df6cdb6.1dbf02","type":"inject","z":"2b0128b2.487008","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1540,"wires":[["971bc156.77838"]]},{"id":"971bc156.77838","type":"modbus-write","z":"2b0128b2.487008","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14361","quantity":"1","server":"d9a59dc.c023f6","x":560,"y":1460,"wires":[["d4ab50dc.b7578"],[]]},{"id":"d4ab50dc.b7578","type":"modbus-response","z":"2b0128b2.487008","name":"","registerShowMax":20,"x":800,"y":1440,"wires":[]},{"id":"e7e8cd48.c9118","type":"mqtt in","z":"2b0128b2.487008","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":250,"y":1440,"wires":[["971bc156.77838"]]},{"id":"40a0a2e8.85ad2c","type":"comment","z":"2b0128b2.487008","name":"ESCLAU PRINCIPAL CANAL 5 (Rele 11)","info":"","x":240,"y":1340,"wires":[]},{"id":"87b2ff0a.d328d","type":"light-scheduler","z":"2b0128b2.487008","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":420,"y":1580,"wires":[["1d861659.926bda","971bc156.77838"]]},{"id":"1d861659.926bda","type":"debug","z":"2b0128b2.487008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":1580,"wires":[]},{"id":"85531c5d.e75a1","type":"comment","z":"2b0128b2.487008","name":"ENLLUMENAT EXPOSICIO 11 PLANTA 1","info":"","x":240,"y":1380,"wires":[]},{"id":"e48b074c.117b98","type":"inject","z":"2b0128b2.487008","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1800,"wires":[["1fe3a145.91881f"]]},{"id":"59304d27.227cb4","type":"inject","z":"2b0128b2.487008","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1840,"wires":[["1fe3a145.91881f"]]},{"id":"1fe3a145.91881f","type":"modbus-write","z":"2b0128b2.487008","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14401","quantity":"1","server":"d9a59dc.c023f6","x":560,"y":1760,"wires":[["fdef5b76.7b3998"],[]]},{"id":"fdef5b76.7b3998","type":"modbus-response","z":"2b0128b2.487008","name":"","registerShowMax":20,"x":800,"y":1740,"wires":[]},{"id":"62790301.88970c","type":"mqtt in","z":"2b0128b2.487008","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":250,"y":1740,"wires":[["1fe3a145.91881f"]]},{"id":"e536c2f5.5c73e","type":"comment","z":"2b0128b2.487008","name":"ESCLAU PRINCIPAL CANAL 6 (Rele 12)","info":"","x":240,"y":1640,"wires":[]},{"id":"54e2dda8.05dcb4","type":"light-scheduler","z":"2b0128b2.487008","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":555},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":420,"y":1880,"wires":[["3a0e609.dc6a3a","1fe3a145.91881f"]]},{"id":"3a0e609.dc6a3a","type":"debug","z":"2b0128b2.487008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":1880,"wires":[]},{"id":"9ae13195.4ca2f","type":"comment","z":"2b0128b2.487008","name":"ENLLUMENAT EXPOSICIO 12 PLANTA 1","info":"","x":240,"y":1680,"wires":[]},{"id":"5ea1e3d8.ffbc2c","type":"inject","z":"2b0128b2.487008","name":"1 OFF","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2120,"wires":[["af05b866.7355e8"]]},{"id":"c2b53856.fbdc68","type":"inject","z":"2b0128b2.487008","name":"2 ON","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":2160,"wires":[["af05b866.7355e8"]]},{"id":"af05b866.7355e8","type":"modbus-write","z":"2b0128b2.487008","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"14441","quantity":"1","server":"d9a59dc.c023f6","x":580,"y":2080,"wires":[["69855409.02403c"],[]]},{"id":"69855409.02403c","type":"modbus-response","z":"2b0128b2.487008","name":"","registerShowMax":20,"x":820,"y":2060,"wires":[]},{"id":"1d7fa7b8.e0d158","type":"mqtt in","z":"2b0128b2.487008","name":"","topic":"/Nave1/tanque1/PLCM241/reconectadoraON","qos":"2","datatype":"auto","broker":"2569b67e.97013a","x":270,"y":2060,"wires":[["af05b866.7355e8"]]},{"id":"7cff8610.8da018","type":"comment","z":"2b0128b2.487008","name":"ESCLAU PRINCIPAL CANAL 7 (Rele 13)","info":"","x":260,"y":1960,"wires":[]},{"id":"f8998dd.0389a7","type":"light-scheduler","z":"2b0128b2.487008","settings":"","events":"[{\"start\":{\"dow\":6,\"mod\":690},\"end\":{\"dow\":6,\"mod\":705}},{\"start\":{\"dow\":5,\"mod\":315},\"end\":{\"dow\":5,\"mod\":780}}]","topic":"","name":"","onPayload":"2","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"scheduleRndMax":0,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":440,"y":2200,"wires":[["1a8047e9.db4e58","af05b866.7355e8"]]},{"id":"1a8047e9.db4e58","type":"debug","z":"2b0128b2.487008","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":2200,"wires":[]},{"id":"e2bd3e32.b9d8c","type":"comment","z":"2b0128b2.487008","name":"ENLLUMENAT ACCES TALLER PLANTA 1","info":"","x":260,"y":2000,"wires":[]},{"id":"d9a59dc.c023f6","type":"modbus-client","z":"2b0128b2.487008","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"192.168.0.14","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"255","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"2569b67e.97013a","type":"mqtt-broker","z":"2b0128b2.487008","name":"","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]